body{
    background-color: grey;
    margin: 0;
}
/* overall container*/
.fullbody{
    margin:0px auto;
    
    height: 150%;
    width: 80%;
    box-shadow: 4px 8px rgb(70, 68, 68);
    background-color: mintcream;   
}
/* top three div with navigation menu onclick buttons and a search bar to the right*/
.topthree{
    float: left;

    width: 100%;
    height: 15%;   
    background-color: silver;
}
/* left nav menu*/
#nav{
    float: left;
    height: 100%;
    width: 10%;
    
}
/* buttons*/
#icons{
    float: left;
    height: 100%;
    width: 65%;
    
}
/* user's coding area*/
#textcode{
    float: left;
    height: 70%;
    width: 70%;
    margin: 50px 50px;

}
/*textarea*/

textarea{
    float: left;
    height: 80%;
    width: 100%;
    padding:10px 10px;
}
#searchbar{
    margin: 30px 30px;
    padding-right: 20px;
    background-image: url("search.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right;
    height: 30px !important;
    width: 250px;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
    border-radius: 20px;
    padding-left: 10px;
    border-color: grey;
    

}
#menu{
    margin: 30px 30px;
}
/* create button*/
#create{
    float: right;
    border:none;
    font-variant: small-caps;
    height: 25px;
    cursor: pointer;
}
#create:hover{
    background-color: red;
    color: white;
    transition:background .5s ease-in,color .5s ease-out;
    
    
}
#icons button{
    height: 30px;
    width: 50px;
    margin: 40px 0px;cursor: pointer;
    border-radius: 1px;
    border: none;
    background-color: rgb(230, 240, 235);
}
#icons button:hover{
    border:1px solid black;
    font-weight: 700;
    background-color: rgb(94, 87, 87);
    color: white;
    transition:background .5s ease-in,color .5s ease-out;
}

.headerdiv{
    float: left;
    background-color: grey;
    height: 17%;
    width: 100%;
}
#logoleft{
    float: left;
    width: 70%;
    height: 100%;background-color: rgb(95, 91, 91);
    
    
}
#logoleft img{
    float: left;
    margin:10px 10px;
    height: 70%;
    width: 15%;
}
#searchtool{
    float: left;
    width: 30%;
    height: 100%;
    background:rgb(95, 91, 91);
    

}

#links{
    float: left;
    height: 5%;
    width: 100%;
    background-color: rgb(65, 55, 55);
}
